Manifest*.toml
/docs/build/
/scratch/

/src/eg_plane.jl
/src/eg_unbounded3.jl
/src/eg_polyhedron.jl
/src/eg_named_polyhedra.jl
/src/eg_curved_solid.jl
/src/eg_conic3.jl
/src/eg_quadric.jl
/src/eg_curved_region3.jl
/src/eg_transform3.jl
